@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.greenBg{
    background-color: #4DD366;
}

.GuidingPlant{
    padding-top:10rem ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GuidingPlantTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.GuidingPlant h1{
    text-align: center;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.GuidingPlant img{
    margin: 1rem 0;
    width: 24rem;
    height: 24rem;
    border-radius: 10px;
}

.Description{
    width: 100%;
    max-width: 100rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 1rem 1rem 3rem;
}


.WateringImage img{
    background-color: rgb(198, 75, 75);
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    padding:1.2rem;
}

.GuidingPlant p {
    color: black;
    width: 100%;
    max-width: 50rem;
}

.DescriptionGuide{
    padding: 1rem 2rem ;
}