* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #5aab61;
}

.Nav_Top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.Row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

figure {
  width: 8%;
  margin: 2% 0 0 10%;
  margin-right: 2rem;
}

.Logo {
  width: 6rem;
  cursor: pointer;
}

.Nav_Center {
  width: 90%;
  margin-top: 1.6rem;
  align-items: center;
}

.Search_Bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchField {
  padding-left: 10px;
  font-size: 16px;
  width: 90%;
  max-width: 70rem;
  height: 2.6rem;
  border-radius: 4px 0 0 4px;
  outline: none;
  border: none;
}

.SearchButton {
  background-color: white;
  height: 2.6rem;
  border: none;
  width: 2rem;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.LogoCart {
  width: 2rem;
  margin: 2rem 2rem 0 0;
  cursor: pointer;
}

.Nav_Down {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

h4 {
  color: white;
  margin: 0 2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition:all 400ms ease-out ;
}

h4:hover{

 text-decoration: underline;
}

h4::before{
    content: '';
    display: block;
    position: absolute;
    top: 8.5rem;
    background-color: red;
    width: 5px;
    height: 5px;
}

h4::after{
    content: 'hello';
    display: block;
    position: absolute;
    top: 8.5rem;
    background-color: red;
    width: 5px;
    height: 5px;
}

