* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav{
  background-color: #01890c;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.Nav_Top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Nav_Left{
  transition: all ease 600ms;
  margin:0 1rem;
}

.LogoNav{
  width: 100%;
  max-width: 5rem;
  object-fit: cover;
  cursor: pointer;
}

.Nav_Center{
  width: 100%;
  max-width: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Nav_Center input{
  width: 90%;
  height: 2.2rem;
  outline: none;
  padding-left:0.6rem ;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
  border: none;
}

.Nav_Center button{
  padding: 6px;
  height: 2.2rem;
  background-color: white;
  border-radius: 0 4px 4px 0;
  border: none;
  cursor: pointer;
}

.Nav_Right{
  margin:0 1rem;
}

.Nav_Right img{
  width: 120%;
  min-width: 1.6rem;
}

.Nav_Down{
  padding: 0 1rem 1rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all ease 400ms;
}

.Nav_Down a{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.link__hover-effect{
  position: relative;
}

.link__hover-effect::after{
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  transition: all 300ms ease;
}

.link__hover-effect:hover:after{
  left: 0;
  width: 100%;
}

.MenuButtonX_Container-appear{
  margin-left: 1rem;
}

.MenuButtonX_Container-noappear{
  display: none;
}

.MenuImgX{
  width: 1.4rem;
}

.Nav_Down_fixed{
  transition: all ease 1000ms;
  background-color: #01890c;
  width: 100%;
}

.Nav_Down_fixed {
  position: absolute;
  opacity: 0;
  top: 4rem;
}
.Nav_Down_fixed a{
  visibility: hidden;
}

.MenuButton_Container{
  margin-left: 1rem;
  display: none;
  position: absolute;
  left: -3rem;
  transition: all ease 600ms;

}

.MenuButton{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.MenuImg{
  width: 1.4rem;
}

.fixed{
  transition: all ease 400ms;
  display: block;
  position: absolute;
  left: 1rem;
}

.Nav_Left-Fixed{
  transition: all ease 600ms;
  margin-left: 6%;
}

.Nav_Mobile{
  height: 100vh;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
}

.MenuButtonX_Container-appear{
  display: flex;
}

.MenuButtonPhoneDisplay{
  display: none;
}

.menu__backdrop {
  background-color: rgb(255, 0, 0); /* Example background color */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.menu__backdrop--displaynone{
  display: none;
}



@media(max-width:600px){
  .Nav_Down{
    display: none;
  }
  .MenuButtonX_Container-appear{
    display: none;
  }
  .MenuButtonPhoneDisplay{
    display: block;
    margin: 1rem;
  }
  .Nav_Left-Fixed,.Nav_Left{
    margin: 0;
  }
}




/* nav {
  background-color: #01890c;
  position:fixed;
  width: 100%;
  max-width: 100rem;
  z-index: 100;
}


.Nav_Top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.MenuButton_Container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:0;
  opacity: 0;
  transition: all 400ms;
}

.MenuButton{
  border: none;
  background-color: transparent;
}

.MenuImg{
  width: 1.6rem;
  cursor:default;
}

figure {
  width: 8%;
  margin-left:0% ;
  
}

.Logo {
  width: 9rem;
  object-fit:contain ;
  cursor: pointer;
  transition: 2s ease;
}

.Nav_Center {
  margin-top: 1.2rem;
}

.Search_Bar {
  width: 70rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchField {
  padding-left: 10px;
  font-size: 16px;
  width: 90%;
  max-width: 70rem;
  height: 2.6rem;
  border-radius: 4px 0 0 4px;
  outline: none;
  border: none;
  transition: all 400ms;
}

.SearchButton {
  background-color: white;
  height: 2.6rem;
  border: none;
  width: 2rem;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.LogoCart {
  width: 2rem;
  margin: 2rem 2rem 0 0;
  cursor: pointer;
}

.Nav_Down {
  display: flex;
  justify-content:space-evenly;
  padding-bottom: 0.6rem;
  transition: all ease 400ms;
}

a {
  color: white;
  margin: 0 2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  transition:all 400ms ease-out ;
}

.link__hover-effect{
    position: relative;
}

.link__hover-effect::after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    transition: all 300ms ease;
}

.link__hover-effect:hover:after{
    left: 0;
    width: 100%;
}

.Nav_Down_fixed, .Nav_Down_fixed h4{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
}

.SearchField_fixed{
  transition: all 400ms;
  width: 85%;
  padding-left: 10px;
  font-size: 16px;
  max-width: 70rem;
  height: 2.6rem;
  border-radius: 4px 0 0 4px;
  outline: none;
  border: none;
}

.MenuButton_Container.fixed{
  transition: all 400ms;
  opacity: 1;
  margin-left: 1.6rem;
}

.MenuButton_Container.fixed img{
  cursor: pointer;
}

.Logo-Mobile{
  display: none;
}

@media(max-width:1500px){
  .Search_Bar{
    width: 50rem;
  }
}

@media(max-width:1200px){
  .Search_Bar{
    width: 40rem;
  }
}

@media(max-width:1000px){
  .Search_Bar{
    width: 20rem;
  }
}


@media(max-width:600px){
  .Search_Bar{
    margin-bottom: 1rem;
  }
  nav{
    width: 600px;
  }
  .Logo{
    display: none;
  }
  .Logo-Mobile{
    width: 4rem;
    display:block;
  }
  .Nav_Down{
    display: none;
  }
} */


