.AboutUs{
    height: 50vh;
}
.AboutUs_Container{

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ShortDescription_Container{
    width: 20%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ShortDescription_Container img{
    width: 34%;
}

.ShortDescription_Container h3{
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.green{
    color: rgb(0, 179, 0);
}